Repository SovereignCloudStack/csctl, pull requests merged in 2024-05, with the labels that each got.

#120 fix(providerplugin): typo
  pkg/providerplugin/providerplugin.go
Labels: Container

#114 ✨ Overwrite helm chart version. No need for templating.
  .gitignore
  pkg/cmd/create.go
  tests/cluster-stacks/docker/ferrol/cluster-addon/Chart.yaml
  tests/cluster-stacks/docker/ferrol/cluster-class/Chart.yaml
Labels: area/code, size/M

#119 🌱 change default outputs directories
  pkg/cmd/create.go
Labels: size/XS, area/code

#104 ✨ Support new Cluster stack convention
  pkg/clusterstack/config.go
  pkg/clusterstack/metadata.go
  pkg/clusterstack/mode.go
  pkg/cmd/create.go
  pkg/template/package.go
  tests/cluster-stacks/docker/valencia/cluster-addon/cni/Chart.yaml
  tests/cluster-stacks/docker/valencia/cluster-addon/cni/templates/cni.yaml
  tests/cluster-stacks/docker/valencia/cluster-addon/cni/values.yaml
  tests/cluster-stacks/docker/valencia/cluster-addon/metrics-server/.helmignore
  tests/cluster-stacks/docker/valencia/cluster-addon/metrics-server/Chart.lock
  tests/cluster-stacks/docker/valencia/cluster-addon/metrics-server/Chart.yaml
  tests/cluster-stacks/docker/valencia/cluster-addon/metrics-server/charts/metrics-server-3.11.0.tgz
  tests/cluster-stacks/docker/valencia/cluster-addon/metrics-server/overwrite.yaml
  tests/cluster-stacks/docker/valencia/cluster-addon/metrics-server/templates/ngnix.yaml
  tests/cluster-stacks/docker/valencia/cluster-addon/metrics-server/values.yaml
  tests/cluster-stacks/docker/valencia/cluster-class/.helmignore
  tests/cluster-stacks/docker/valencia/cluster-class/Chart.yaml
  tests/cluster-stacks/docker/valencia/cluster-class/templates/_helpers.tpl
  tests/cluster-stacks/docker/valencia/cluster-class/templates/cluster-class.yaml
  tests/cluster-stacks/docker/valencia/cluster-class/templates/docker-cluster-template.yaml
  tests/cluster-stacks/docker/valencia/cluster-class/templates/docker-machine-template.yaml
  tests/cluster-stacks/docker/valencia/cluster-class/templates/kubeadm-config-template-worker-docker.yaml
  tests/cluster-stacks/docker/valencia/cluster-class/templates/kubeadm-control-plane-template.yaml
  tests/cluster-stacks/docker/valencia/cluster-class/values.yaml
  tests/cluster-stacks/docker/valencia/clusteraddon.yaml
  tests/cluster-stacks/docker/valencia/csctl.yaml
  tests/cluster-stacks/docker/valencia/node-image/Dockerfile.controlplane
  tests/cluster-stacks/docker/valencia/node-image/Dockerfile.worker
  tests/cluster-stacks/docker/valencia/node-image/scripts/base.sh
  tests/cluster-stacks/docker/valencia/node-images.yaml
  tests/cluster-stacks/docker/valencia/topology-docker.yaml
Labels: area/code, size/XL

#129 🌱 update build workflow
  .github/workflows/build.yml
  .github/workflows/pr-lint.yml
Labels: area/github

#126 🌱 Use default of "v1" if we release a CS for the first time.
  pkg/cmd/create.go
Labels: size/XS, area/code

#122 ✨ use cluster stack content hash instead of git commit hash
  pkg/clusterstack/mode.go
  pkg/cmd/create.go
  pkg/hash/hash.go
  tests/cluster-stacks/docker/ferrol/csctl.yaml
Labels: area/code, size/M

#130 :bug: Fix templating of cluster-addon-values.yaml
  pkg/cmd/create.go
  tests/cluster-stacks/docker/ferrol/cluster-addon-values.yaml
Labels: size/XS, area/code
