Repository SovereignCloudStack/csctl, pull requests merged in 2024-02, with the labels that each got.

#59 🌱 ignore go-github bump using renovate
  .github/renovate/golang.json5
Labels: area/github

#65 🐛 pin go-github dependency to v56
  .github/renovate/golang.json5
Labels: area/github

#70 :seedling: Small clean up (added print statements)
  Makefile
  docs/README.md
  docs/developing-and-testing-csmctl.md
  pkg/clusterstack/mode.go
  pkg/cmd/create.go
Labels: area/code, area/hack, size/M

#6 :sparkles: Add design document
  docs/design.md
Labels: size/M

#75 🐛 Use csmctl config kubernetes version in the stable mode
  pkg/cmd/create.go
Labels: size/XS, area/code

#80 :seedling: use same file permissions for release assets
  pkg/cmd/create.go
Labels: area/code

#51 ✨ Github client integration
  .gitignore
  github-release/docker-ferrol-1-27-v2/hashes.json
  github-release/docker-ferrol-1-27-v2/metadata.yaml
  pkg/clusterstack/metadata.go
  pkg/cmd/create.go
  pkg/github/github.go
  pkg/github/release.go
  vendor/github.com/SovereignCloudStack/cluster-stack-operator/pkg/clusterstack/clusterstack.go
  vendor/github.com/SovereignCloudStack/cluster-stack-operator/pkg/clusterstack/clusterstacks.go
  vendor/github.com/SovereignCloudStack/cluster-stack-operator/pkg/clusterstack/sort.go
  vendor/modules.txt
Labels: size/L, area/code

#68 🌱 add version subcommand to csctl
  .goreleaser.yaml
  Makefile
  pkg/clusterstack/mode.go
  pkg/cmd/root.go
  pkg/cmd/version.go
  pkg/template/template.go
Labels: area/code, area/hack, size/M
