Repository SovereignCloudStack/csctl, pull requests merged in 2024-01, with the labels that each got.

#11 🌱 add script to upgrade builder image
  hack/upgrade-builder-image.sh
Labels: area/hack, size/M

#14 🌱 update go.mod to use 1.21
  go.mod
Labels: size/XS

#22 🌱 add script for using semver
  hack/semver-upgrade.sh
Labels: size/S, area/hack

#32 🌱 update csmctl-builder image in the repo
  .builder-image-version.txt
  images/builder/build.sh
Labels: size/XS

#38 ✨ Restructure code to have better readability
  go.mod
  pkg/clusterstack/config.go
  pkg/clusterstack/metadata.go
  pkg/clusterstack/mode.go
  pkg/cmd/create.go
Labels: size/L, area/code
