Repository SovereignCloudStack/csctl, pull requests merged in 2024-03, with the labels that each got.

#87 🌱 update yamllint config to have additional lint at end
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/schedule-update-bot.yaml
  .goreleaser.yaml
  .yamllint.yaml
Labels: Container, size/XS, area/github

#93 🌱 use csctl in Makefile
  Makefile
Labels: size/XS, area/hack

#97 :sparkles: Support calling provider plugins.
  .gitignore
  Makefile
  csctldocker/csctldocker_main.go
  docs/design.md
  pkg/clusterstack/config.go
  pkg/cmd/create.go
  pkg/cmd/version.go
  pkg/github/github.go
  pkg/providerplugin/providerplugin.go
  tests/cluster-stacks/docker/ferrol/csctl.yaml
Labels: area/code, area/hack, size/M
