Repository SovereignCloudStack/csctl, pull requests merged in 2024-08, with the labels that each got.

#148 :sparkles: Add basic auth option for the oci client
  pkg/assetsclient/oci/client.go
  pkg/assetsclient/oci/credentials.go
Labels: Container, area/code, size/M

#150 📖 149 update docs for use in docsscscommunity
  docs/getting_started.md
  docs/how_to_use_csctl.md
  docs/overview.md
  docs/quickstart.md
Labels: type/minor

#151 :book: Update getting_started.md
  docs/getting_started.md
Labels: size/XS
