Repository SovereignCloudStack/csctl, pull requests merged in 2024-09, with the labels that each got.

#154 :bug: Fix link in docs README
  docs/README.md
Labels: bug, Container, size/XS

#156 :bug: Use release directory name for the tag
  pkg/cmd/publish.go
Labels: area/code

#158 :bug: assets are uploaded to oci registry with every publish
  .gitignore
  pkg/cmd/publish.go
Labels: size/XS, area/code
